<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-fluid secondary-page-nav">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <div class="nav-left"><a class="navbar-brand" href="../index.html">
                  <img src="https://www.theodinproject.com/assets/icons/odin-icon-b5b31c073f7417a257003166c98cc23743654715305910c068b93a3bf4d3065d.svg" alt="" width="50" height="50" class="d-inline-block align-text-top">
                  <span class="the-odin-project">THE ODIN PROJECT</span>
                </a></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-right" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link"  href="./All Path.html">All Path</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Community</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../template/signin.html">Sign in</a>
                    </li>
                    <li>
                      <a href="#"><button class="sun"><span class="material-symbols-outlined">
                        light_mode
                        </span></button></a>
                    </li>
                    <li class="nav-item">
                      <a href="../template/signup.html"><button class="start">GET STARTED</button></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </div>
    </div>
    <div class="container">
      <div class="row d-flex flex-row flex-wrap justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 signin-box-heading ">
          <h2>Sign up for free</h2>
          <a href="#">Or sign in to your existing account</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 signin-box">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password confirmation</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="signup-btn">
              <div class="form-text"><a href="#">By signing up, you agree to our terms of use.</a></div>
              <button type="submit" class="btn btn-primary">Sign up</button></div>
          </form>
          <div class="continue">Or continue with</div>
          <div class="signup-two-btn d-flex flex-row flex-wrap justify-content-center">
            <div class="one"><button><img src="../image/github-logo.png" alt=""></button></div>
            <div class="one"><button><img src="../image/google.png" alt=""></button></div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="container footer-container">
        <div class="row footer-a-tag">
          <div class="col-lg-4 col-md-12 col-sm-12 footer">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-row flex-wrap align-items-center">
                <img src="https://www.theodinproject.com/assets/icons/odin-icon-b5b31c073f7417a257003166c98cc23743654715305910c068b93a3bf4d3065d.svg" alt=""><h5>THE ODIN PROJECT</h5>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <p>High quality coding education maintained by an open source community.</p>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-row flex-wrap ">
                <a href="#"><button class="footer-icon-btn"><img src="../image/github-logo.png" alt=""></button></a>
                <a href="#"><button class="footer-icon-btn"><img src="../image/discord icon.png" alt=""></button></a>
                <a href="#"><button class="footer-icon-btn"><img src="../image/fb icon.png" alt=""></button></a>
                <a href="#"><button class="footer-icon-btn"><img src="../image/twiter icon.jpg" alt=""></button></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row footer-about">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <ul>
                  <li><h6>About us</h6></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Success Stories</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <ul>
                  <li><h6>Support</h6></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Contribute</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <ul>
                  <li><h6>Guides</h6></li>
                  <li><a href="#">Community guides</a></li>
                  <li><a href="#">Installation guides</a></li>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <ul>
                  <li><h6>Support</h6></li>
                  <li><a href="#">Legal</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"><p>© 2023 The Odin Project. All rights reserved.</p></div>
      </div>
      </div>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      
</body>
</html>